:root {
  --header-background: #2a2f32;
  --background-keyboard: #f0f0f0;
  --color-hover-header-buttons: #e4e4e4;
  --background-message: #dcf8c6;
  --background-day-chat: #e1f5fe;
  --text-color-gray: #959595;
  --text-color-chat: #353535;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 16px;
}

img {
  width: 100%;
}

button {
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  /* padding-top: 2rem; */
}
.phone {
  position: relative;
  display: grid;
  grid-template-rows: max-content minmax(150px, 1fr) min-content;
  background: url(../assets/background_whatsapp.png);
  height: 100vh;
}
/* # PHONE CAMERA # */
.phone__camera {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

#phone__camera__video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  box-sizing: border-box;
  transform: rotateY(180deg);
}

.phone__camera__close {
  position: absolute;
  top: 10px;
  left: 30px;
  padding: 0.1em;
  box-sizing: border-box;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.phone__camera__snapshot {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 0.1em;
  margin: 0.3em 0em;
  justify-content: center;
  box-sizing: border-box;
  font-size: 3.5em;
  color: white;
  cursor: pointer;
}

/* # HEADER CHAT # */

.header {
  display: grid;
  grid-template-columns: 55px 1fr 70px;
  align-items: center;
  background-color: var(--header-background);
  padding: 0.7rem 1.2rem;
}
.header__name {
  width: max-content;
  color: white;
  font-size: 0.9em;
}
.header__avatar {
  width: 2.2125em;
  height: 2.2125em;
}
.header__avatar__img {
  border-radius: 100%;
}

.header__utils {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid: 10px;
}
.header__utils__icon {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s ease;
}
.header__utils__icon:hover {
  background-color: rgba(245, 245, 245, 0.1);
}

/* # MAIN CONTENT # */
.day_chat {
  background-color: var(--background-day-chat);
  padding: 0.5rem 1rem;
  border-radius: 11px;
  align-self: center;
  font-size: 0.75em;
  text-transform: uppercase;
}
#messages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5rem;
  overflow: auto;
  scroll-behavior: smooth;
}

#messages > .message:nth-of-type(2) {
  margin-top: 0.8rem;
}
.message {
  background-color: var(--background-message);
  padding: 0.2rem 0.4rem 0.2rem 0.9rem;
  margin-bottom: 0.2rem;
  border-radius: 10px;
  border-top-right-radius: 0px;
  font-size: 1em;
  word-break: break-word;
}
.message__gif {
  width: 200px;
}
.message__photo {
  width: 200px;
  transform: rotateY(180deg);
}
.message__text {
  padding-right: 0.2rem;
  color: var(--text-color-chat);
}

.message__date {
  font-size: 0.6em;
  padding-left: 0.2rem;
  color: var(--text-color-gray);
}
.message__check {
  font-size: 0.5em;
  color: #959595;
}
/* # MAIN KEYBOARD # */

.keyboard {
  background-color: var(--background-keyboard);
}

.keyboard__header {
  display: grid;
  padding: 0.5rem 0;
  grid-template-columns: 50px 1fr 50px;
}
.keyboard__header__btn__icon {
  font-size: 1.5em;
  cursor: pointer;
  background-color: transparent;
  padding: 7px;
  border-radius: 100%;
}

.keyboard__header__btn__icon:hover {
  background-color: var(--color-hover-header-buttons);
}

.keyboard__header__btn-emoji {
  color: rgb(94, 94, 94);
}
.keyboard__header__btn-send {
  color: rgb(50, 182, 23);
}

#keyboard__header__input {
  border: none;
  font-size: 1em;
  resize: none;
  overflow: hidden;
  width: 100%;
  background: transparent;
  box-sizing: border-box;
}

#keyboard__header__input:focus {
  outline: none;
}
.keyboard__box__input {
  display: grid;
  place-items: center;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 30px;
  padding: 0.2rem 1.2rem 0.1rem 1rem;
}
.keyboard__content_input {
  display: grid;
  place-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 100px;
  height: 100%;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.keyboard__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.1rem 0.3rem 0.3rem 0.3rem;
}

.keyboard__buttons__key {
  width: 1.55em;
  height: 1.8em;
  padding: 0rem;
  cursor: pointer;
  font-size: 1.25em;
  margin: 2px;
  border-radius: 5px;
  background-color: rgba(223, 223, 223, 0.692);
}

.keyboard__buttons__key:hover {
  background-color: rgb(185, 185, 185);
}
.keyboard__buttons__key:active {
  position: relative;
  border-top: 2px solid gray;
  top: 1.5px;
}

.space-key {
  flex-grow: 0.6;
}
.mayus-key {
  flex-basis: 45px;
}
.delete-key {
  flex-basis: 45px;
}

/* # MAIN KEYBOARD ICONS # */
.keyboard__emojis {
  display: none;
  padding: 0.1rem 0.3rem 0.3rem 0.3rem;
}
.keyboard__content__emojis {
  display: none;
}

.keyboard__emojis__key {
  width: 35px;
  height: 45px;
  padding: 0rem;
  cursor: pointer;
  font-size: 1.15em;
  margin: 2px;
  border-radius: 5px;
  background-color: rgba(223, 223, 223, 0.692);
}
.keyboard__selection {
  display: flex;
  justify-content: center;
}
/* # MAIN KEYBOARD GIFS # */
.keyboard__content__gifs {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  padding: 0rem 0.7rem;
  grid-gap: 5px;
  max-height: 135px;
  overflow: auto;
}
.keyboard__content__gifs__box {
  width: 100%;
  height: 85px;
}
.keyboard__content__gifs__gif {
  height: 100%;
  object-fit: cover;
}
.gif-icon-btn__box {
  display: flex;
  align-items: center;
}
.gif-icon-btn {
  cursor: pointer;
  width: 23px;
  padding: 0.3rem;
  border-radius: 5px;
}

.gif-icon-btn:hover {
  background-color: var(--color-hover-header-buttons);
}

/* SUPPORT CLASS */

.show {
  display: block;
}

.show-grid {
  display: grid;
}

.hide {
  display: none;
}

@media screen and (min-width: 450px) {
  body {
    font-size: 20.2px;
  }
}
