:root {
  --header-background: #2a2f32;
}

* {
  font-family: "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 2rem;
}
.phone {
  display: block;
  background: url("../assets/background_whatsapp.png");
  min-height: 700px;
}

/* # HEADER CHAT # */

.header {
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  align-items: center;
  background-color: var(--header-background);
  padding: 0.8rem 1.2rem;
}
.header__name {
  width: max-content;
}
.header__avatar {
  width: 45px;
  height: 45px;
}
.header__avatar__img {
  border-radius: 100%;
}
.header__name {
  color: white;
}
.header__utils {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid: 10px;
}
.header__utils__icon {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s ease;
}
.header__utils__icon:hover {
  background-color: rgba(245, 245, 245, 0.10);
}

/* # MAIN # */

/* # MAIN CONTENT # */

/* # MAIN KEYBOARD # */
